{
	"rules": {
		"color-hex-case": "lower",
		"color-hex-length": "long",
		"color-named": "never",
		"declaration-block-no-redundant-longhand-properties": true,
		"declaration-block-semicolon-space-before": "never",
		"declaration-block-trailing-semicolon": "always",
		"declaration-colon-space-after": "always",
		"font-weight-notation": "named-where-possible",
		"function-comma-space-after": "always",
		"function-linear-gradient-no-nonstandard-direction": true,
		"function-url-quotes": "always",
		"max-empty-lines": 2,
		"media-feature-colon-space-after": "always",
		"media-feature-name-no-unknown": true,
		"no-extra-semicolons": true,
		"no-empty-source": true,
		"selector-attribute-brackets-space-inside": "never",
		"selector-attribute-operator-space-after": "never",
		"selector-attribute-operator-space-before": "never",
		"selector-attribute-quotes": "always",
		"selector-combinator-space-after": "always",
		"selector-combinator-space-before": "always",
		"selector-list-comma-newline-after": "always",
		"selector-pseudo-class-no-unknown": true,
		"selector-type-no-unknown": true,
		"shorthand-property-no-redundant-values": true,
		"unit-case": "lower"
	}
}